<footer>
    <section class=footer-flex>
    <div class=logo-bottom>
        <img class=logo-image src="./assets/lighthousewhite.svg" alt="">
    </div>
    <div class="footer-box">
      <p>Address</p>
      <p>662 King St W Unit 101</p>
      <p>Toronto, Canada</p>
    </div>
    <div class="footer-box">
      <p>Opening Hours</p>
      <p>Mon - Fri: 11am - 10pm</p>
      <p>Sat - Sun: 11am - 12am</p>
    </div>
    <div class="footer-box">
      <p>Contact</p>
      <p>1-800-NOODLES</p>
      <p>lighthousenoodles@gmail.com</p>
    </div>
    </section>
  </footer>
