<header>
    <nav>
        <div>
          <ul>
              <div class="logo-box">
                  <img class=logo-image src="./assets/lighthouse.svg" alt="">
                  <p>Lighthouse Noodle Co.</p>
              </div>
              <li><a href="#">Home</a></li>
              <li><a href="#">Menu</a></li>
              <li><a href="#">Order Now</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
        </div>
    </nav>
  </header>
