<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <link rel="stylesheet" href="/styles/about.css" type="text/css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,800,900&display=swap" rel="stylesheet">
    <style>
       /* Set the size of the div element that contains the map */
      html, body {
        margin:0;
        padding:0;
      }

      #map {
        margin:0;
        padding:0;
        height: 400px;  /* The height is 400 pixels */
        width: 100vw;  /* The width is the width of the web page */
      }
    </style>
  </head>
  <body>
      <header>
          <nav>
              <div>
                <ul>
                    <div class="logo-box">
                        <img class=logo-image src="./assets/lighthouse.svg" alt="">
                        <p>Lighthouse Noodle Co.</p>
                    </div>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#menu">Menu</a></li>
                    <li><a href="/order">Order Now</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
              </div>
          </nav>
        </header>
        <section class="banner">
            <div class="slide-area">
              <div class="banner-text">
                <h1>Our Story Begins In The East...</h1>
                <p>Our food is made from the thousands of combined flavours cultures across Asia. Using the lessons learned from Chinese, Korean and Japanese cuisine. </p>
              </div>
              <div class="banner-text">
                <h1>Long Long Ago...</h1>
                <p>Founded four generations ago, the family tradition has descended through the ages.</p>
              </div>
              <div class="banner-text">
                <h1>In A Small Humble Seaside Village</h1>
                <p>It all began when a hardworking lighthouse attendant wanted to make delicious noodles for his young daughter.</p>
              </div>
            </div>
          </section>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
          <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
          <script src='https://code.jquery.com/jquery-3.4.0.min.js' integrity='sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=' crossorigin='anonymous'></script>
          <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script><!--this should be put behind Jquery-->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/2.2.0/jquery.smooth-scroll.min.js"></script>
          <script>
            $(function () {
              $('.slide-area').flickity({
                wrapAround: true //there is no ";".
              });
              $('a').smoothScroll({
                offset: 100
              });
            });
          </script>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map

function initMap() {

  var lighthouseNoodlesLocation = {lat: 43.6440695, lng: -79.4021489};

  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 16, center: lighthouseNoodlesLocation});

  var marker = new google.maps.Marker({position: lighthouseNoodlesLocation, map: map});
}
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcxNp81FsNx7KV-PVqj9eu0ix0npqZl-U&callback=initMap">
    </script>

<footer>
    <section id="contact" class=footer-flex>
    <div class=logo-bottom>
        <img class=logo-image src="./assets/lighthousewhite.svg" alt="">
    </div>
    <div class="footer-box">
      <p>Address</p>
      <p>662 King St W Unit 101</p>
      <p>Toronto, Canada</p>
    </div>
    <div class="footer-box">
      <p>Opening Hours</p>
      <p>Mon - Fri: 11am - 10pm</p>
      <p>Sat - Sun: 11am - 12am</p>
    </div>
    <div class="footer-box">
      <p>Contact</p>
      <p>1-800-NOODLES</p>
      <p>lighthousenoodles@gmail.com</p>
    </div>
    </section>
  </footer>
  </body>
</html>
