<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lighthouse Noodle Co.</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
      <header>
        <nav>
            <div>
              <ul>
                  <div class="logo-box">
                      <img class=logo-image src="/assets/lighthouse.svg" alt="">
                      <p>Lighthouse Noodle Co.</p>
                  </div>
                  <li><a href="/">Home</a></li>
                  <li><a href="#menu">Menu</a></li>
                  <li><a href="/order">Order Now</a></li>
                  <!-- <li><a href="#">Order Now</a></li> -->
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
        </nav>
      </header>
        <section class="banner">
          <div class="banner-text">
            <p>Taste of the East</p>
            <p>Toronto's Most Acclaimed Asian Restaurant</p>
          </div>
        </section>
        <section class="menu">
                    <div class="menu-items">
          <p id="menu">Menu</p>
          <!-- <p>Noodles</p>
          <p>Chicken Noodle Soup

              $9</p>
          <p>Beef Noodle Soup

              $13</p>
          <p>Chicken & Corn Noodle Soup

              $11</p>
          <p>Won Ton Noodle Soup

              $10</p>
          <p>Dumplings</p>
          <p>Gow Choy Gao

              $8</p>
          <p>Siu Mai

              $10</p>
          <p>Xiao Long Bao

              $9</p>
          <p>Jiu Cai Bao

              $7</p> -->
            <% for (const item of menuItems) { %>
              <p><%= item.name %>

              $<%= item.price %></p>
            <% } %>
          </div>
        </section>
        <!-- <img src="./assets/lighthousenoodle.png" alt=""> -->
        <!-- <div class="banner"> -->
        </div>
      <footer>
        <section id="contact" class=footer-flex>
        <div class=logo-bottom>
            <img class=logo-image src="/assets/lighthousewhite.svg" alt="">
        </div>
        <div class="footer-box">
          <p>Address</p>
          <p>662 King St W Unit 101</p>
          <p>Toronto, Canada</p>
        </div>
        <div class="footer-box">
          <p>Opening Hours</p>
          <p>Mon - Fri: 11am - 10pm</p>
          <p>Sat - Sun: 11am - 12am</p>
        </div>
        <div class="footer-box">
          <p>Contact</p>
          <p>1-800-NOODLES</p>
          <p>lighthousenoodles@gmail.com</p>
        </div>
        </section>
      </footer>
    </body>
    </html>








