
html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.logo-image {
  width: 75px;
}

.logo-box {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 175px;
  width: 150px;
  color: #A52421;
  background: #FCF3D7;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 700;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
}
/* background-image: url("./assets/lighthousenoodle.png"); */
  /* background-size: cover; */
/* .banner {

  height: 80vh;
} */

section.order-food-interface {
  background-color: #FCF4DB;
  height:1200px;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.order-title {
  font-family: Montserrat, san-serif;
  font-weight: 800;
  font-size: 40px;
  color: #A52421;
  position: relative;
  top: 50px;
}

.quantity button {
  width: 30px;
  padding: 5px;
}

.quantity input {
  text-align: center;
  width: 30px;
}

.quantity {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  width: 100px;
}

.noodles-ordering{
  height:25vh;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.dumpling-ordering{
  height:25vh;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.food-item {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  background: rgb(241, 228, 187);
  width: 250px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.food-item img {
  max-width: 100px;
}

.food-item p {
  margin: 5px 0;
}

.order-section-title-noodles {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 20px 0 0 0;
  padding-left: 20px;
  padding-top: 2px;
  color: white;
  background-color: rgb(158, 139, 75);
  width: 100%;
  height: 30px;
  opacity: 95%;
}


.order-section-title-dumplings {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 50px 0 0 0;
  padding-left: 20px;
  padding-top: 2px;
  color: white;
  background-color: rgb(158, 139, 75);
  width: 100%;
  height: 30px;
  opacity: 95%;
}

button {
  background-color: #21a52c; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.order-total {
  display:flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-around;
  align-self: end;
  position: relative;
  /* right: 200px; */
  width: 500px;
}

.order-calculations {
  margin-top: 20px;

}

.checkout-button  {
  align-self: flex-end;
  margin-bottom: 10px;
  height: 40px;
}

.banner {
  height: 100vh;
  max-width: 100vw;
  background-attachment: fixed;
  background-image: url("./assets/lighthousenoodle.png");
  background-size: cover;
  background-position-y: -100px;
}

.banner .banner-text {
  width: 100%;
  text-align: center;
  position: relative;
  top: 100px;
}

.banner-text {
  font-size: 15px;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

.banner-text p:first-child {
  margin: 0;
  font-size: 60px;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #FFFFFF;
}

.menu {
  overflow-wrap: break-word;
  color: #A52421;
  padding: 15px 0;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #FCF4DB;
  height: 80vh;
}

.menu p:first-child {
  font-size: 45px;
  font-weight: 800;
}

.menu-items {
  letter-spacing: 0.15vw;
  text-align: left;
  width: 80%;
  margin: auto;
}

.menu-items span {
  letter-spacing: 1vw;
}

header {
  width: 100%;
  padding: 0;
  height: 6vh;
}

nav {
  font-family: 'Montserrat', sans-serif;
  background-color: #7D1917;
  text-align: center;
  vertical-align: middle;
}

nav ul {
  /* height: 100%; */
  display: flex;
  justify-content: space-around;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  padding-top: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

nav ul li a:hover {
  color: rgba(255, 255, 255, 0.829);
}

footer {
  font-family: 'Montserrat', sans-serif;
  height: 20vh;
  background-color: #7D1917;
}


.footer-flex {
  display:flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100%;
}

.footer-box {
  overflow-wrap: break-word;
  line-height: 15px;
  width: 25vw;
}
